<html>

<head>
    <title></title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1 class="pillowmaker">pillowmaker</h1>

    <div class="guestbook">
        <form method="GET" action="/newpillow">
            <!-- <p class="italic">please answer the following questions </p> -->
            <p class="italic">* answer to get your one-and-only pillow *</p> <br><br>
            <p>1. Which light feels most like you?</p>
            <input type="radio" value="oneA" name="ONE">
            The deep blue light just before night arrives <br><br>
            <!-- <input type="radio" value="oneB" name="ONE" >
            Soft green light through leaves  <br><br> -->
            <input type="radio" value="oneB" name="ONE">
            Pale silver light on a cloudy day <br><br>
            <input type="radio" value="oneC" name="ONE">
            Warm orange light from a late sunset <br><br><br><br>

            <p>2. Which sound do you like the most?</p>
            <input type="radio" value="twoA" name="TWO">
            Rain on windows <br><br>
            <!-- <input type="radio" value="twoB" name="TWO" >
            Leaves moving in the wind <br><br> -->
            <input type="radio" value="twoB" name="TWO">
            Distant city noise at night <br><br>
            <input type="radio" value="twoC" name="TWO">
            Fire crackling <br><br><br><br>

            <p>3. Which small object would you keep close?</p>
            <input type="radio" value="threeA" name="THREE">
            A smooth stone from a river <br><br>
            <!-- <input type="radio" value="threeB" name="THREE" >
            A pressed leaf inside a book <br><br> -->
            <input type="radio" value="threeB" name="THREE">
            A small mirror catching light <br><br>
            <input type="radio" value="threeC" name="THREE">
            A slowly burning candle <br><br><br><br><br>

            <input type="text" placeholder="enter your name" name="guestName">

            <input type="submit" value="submit">

        </form>


    </div>
</body>

</html>

<!-- DELETED CODE -->
   <!-- <div class="white"> <p>this is an html file sered by my server!</p>
        <form method="GET" action="/sign">
            <input type="text" placeholder="enter your name" name="guestName">
            <input type="submit" value="sign my guestbook">
            <h1>
               was the first person here!
            </h1>
        </form></div> -->

 <!-- <p>4. Pick a place you would rather be right now:</p>
            <input type="radio" value="fourA" name="FOUR" >
            A quiet lake <br><br>
            <input type="radio" value="fourB" name="FOUR" >
            A mountain trail <br><br>
            <input type="radio" value="fourC" name="FOUR" >
            A dim café at night <br><br>
            <input type="radio" value="fourD" name="FOUR" >
            A warm room with candles <br><br><br><br><br> -->