<html>

<head>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1 class="pillowmaker">pillowmaker</h1>
  <div class="home">
    <p>welcome,</p>
    <p>this space is built for sleep.</p>
    <br><br> <br><br>
    <p class="members">members of the community agree to the following principles: </p>
    <br>
    <p>1. sleep is essential</p>
    <p>sleep is not optional, it is the foundation of the space.</p>
    <br>
    <p>2. sleep is collective</p>
    <p>sleep is practiced in an open space, sharing and keeping quiet is a must. </p>
    <br>
    <p>3. sleep leaves traces</p>
    <p>every act of sleep leaves a record. Your rest will remain visible in this space. </p>
    <br>
    <p>4. sleep routine</p>
    <p>each member follows the same routine:</p>
    <p>take the personality test,</p>
    <p>receive a custom pillow,</p>
    <p>enter the sleeping space.</p>
    <br><br><br><br>
    <p>sleep is a shared responsibility.</p>
    <p>rest maintains the stability of the community.</p>
    <br>
    <p><a href="guestbook" class="nopurple enter">continue</a></p>

  </div>
  </div>
</body>

</html>