<html>

<head>
    <title></title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1 class="pillowmaker">pillowmaker</h1>

    <div class="guestbook">
        <p>there are others resting in the place, please keep quiet and respect the space </p>
        <p>thank you and have a nice rest:)</p>
    </div>

    <div class="gallery">
        <% for (let entry of history) { %>
            <div class="galleryItem">
                <img src="/images/<%= entry.pillowImage %>" class="galleryPillow">
                <p>
                    <%= entry.guestName %>
                </p>
            </div>
            <% } %>
    </div>

    <br><br><br><br><br>
    <div>
        <a href="/guestbook" class="nopurple enter">take another nap</a>
        <br><br>
        <a href="/" class="nopurple enter">Community manifesto</a>
    </div>

</body>

</html>