body{
    /* background-color: rgb(186, 240, 252); */
    background-image:url("wallpaperblue.jpg");
}
div{
    font-size: 15px;
    text-align: center;
    /* transform:rotate(0) */

}
/* grab the class by using . */
.welcome{
    margin-left:10px;
    font-family:'Lucida Sans';
}
.monospaced{
    font-family: monospace;
    text-align:center
}
/* .center{
   border:black 2px solid;
   margin:100px;
   margin-right: 10%
} */
.vertical {
  transform: rotate(90deg) ;
  margin-right: -250px;
  margin-top: 170px;
}
/* .light{
    color:rgb(0, 117, 156);
} */
.opposite{
  transform: rotate(180deg) ;
}
.vertical2 {
  transform: rotate(-90deg) ;
  margin-left: -250px;
  margin-top: -205px ;
}
.knob{
     margin-left:11%;
}
.horizontalr{
    margin-top:10;
}
.verticalroom {
  transform: rotate(90deg) ;
  margin-right: -430px;
  margin-top: -227px
}

.oppositeroom{
  transform: rotate(180deg) ;
  margin-top:-45;
  margin-left:-15px;
}
.vertical2room {
  transform: rotate(-90deg) ;
  margin-left: -445px;
  margin-top: -26px ;
}

.indent{
    margin-left: 33px
}

.indent2{
    margin-left: 55px
}

.small{
    font-size: 10px;
}
.xs{
    font-size: 8px;
}
.red{
    color:red
}
.big{
    font-size: 20px
}

.greenish{
    color:rgb(1, 82, 19)
}
.bold{
    font-weight: 700;
}
.white{
    color:antiquewhite
}
.blue{
    color:rgb(23, 23, 161);
}
.lightb{
    color:rgb(50, 182, 238)
}
.navyb{
    color:rgb(0, 0, 105)
}
.brown{
    color:rgb(89, 43, 21)
}
.lightbrown{
    color:rgb(196, 140, 113)
}
.italic{
    font-style: italic;
}
.windowh{
    transform:rotate(90deg);
    margin-left:380px;
    margin-top: 170px;
        font-size:20px;
}

.table{
    /* transform: rotate(0deg) ;
    margin-left: 200px;
    margin-top:-10px;
    font-size: 20px; */
    margin-left:180px;
    margin-top:80px;
        font-size:70px;
}
.mirror{
    /* transform:rotate(20deg);
    /* margin-left:280px; */
    /* font-size:12px;
    margin-top:80px; */ 
    transform:rotate(-90deg);
    margin-left:-400px;
    margin-top: -70px;
        font-size:15px;
}
.calendar{
    /* transform:rotate(90deg); */
    /* margin-left: 250px; */
    /* font-size:12px;
    margin-top:-80px; */
    /* transform:rotate(20deg); */
    margin-left:100px;
    margin-top:-100px;
        font-size:15px;
}
.bed{
    /* transform:rotate(90deg);
    margin-left: 290px;
    font-size:30px;
    margin-top:80px */
    margin-left:-220px;
    margin-top:-0px;
    font-size:90px;
}
.light{
   /* transform:rotate(90deg);
   margin-left: 400px;
   font-size:12px;
   margin-top:-40px  */
   margin-left:-260px;
       font-size:10px;
}
.closet{
    /* margin-left: -250px;
    transform:rotate(45deg);
    font-size:20px;
    margin-top:30px  */
    transform:rotate(-90deg);
    margin-top:-300px;
    margin-left:-370px;
    font-size:30px;
}
.door{
    /* margin-left: -00px;
    font-size:30px;
    margin-top:40px  */
    transform:rotate(90deg);
    margin-left:-530px;
    margin-top:90px;
        /* font-size:50px; */
}
.makeup{
    margin-left:120px
}
.photos{
    margin-left:120px
}
.playbill{
    margin-left:145px
}
.notebook{
    margin-left:145px
}
.stuff{
    margin-left:190px
}
.ard{
    margin-left:330px
}
.phone{
    margin-left:300px
}
.mail{
    margin-left:470px
}
.fork{
    margin-left:-100px
}
.keys{
    margin-left:-600px
}

.id{
    margin-left:-190px
}
.disk{
    margin-left:120px
}
.maybe{
    margin-left:390px
}
.feel{
    color:rgb(255, 255, 255);
    margin-top:-20px;
}

.nopurple{
    color:white;
}
.nopurple:visited{
    color:white;
}
/* .shelf{
    margin-left:300px
} */

/* we get ids by using # */
/* #howdy {
    font-family: monospace;
    border:black 3px solid;
    padding: 60px;
    margin:90px;
    margin-left: 10%;
} */